* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkcyan;
}

.App {
    width: 850px;
    min-height: 100vh;
    padding: 0 25px 80px;
    margin-top: 100px;
    border: 1px solid gainsboro;
    background-color: #fff;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-image: url(../img/dot.svg);
    background-size: 2%;
}
h2 {
    margin: 50px 0 15px;
    padding: 15px 10px;
    padding-bottom: 15px;
    color: rgb(12, 153, 122);
    font-size: 2em;
    border: 1px dotted rgb(12, 153, 122);
    background-color: rgb(240, 240, 240);
}
h3 {
    margin: 10px 0;
}
button,
.button {
    margin: 10px 0;
    background-color: rgb(12, 153, 122);
    border: 1px solid rgb(95, 95, 95);
    border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
button:hover,
button:active,
.button:hover,
.button:active {
    background-color: rgb(10, 121, 97);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
.post__content {
    margin-right: 10px;
    text-align: justify;
    text-justify: newspaper;
}
.post__btns {
    display: flex;
    gap: 10px;
}

.page-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 40px 50px;
}

.page-nav__link {
    font-size: 20px;
    color: teal;
    transition: color 0.3s ease;
}
.page-nav__link:hover,
.page-nav__link:active,
.page-nav__link:focus {
    color: coral;
}
