.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: teal;
    font-weight: bold;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: 1px solid teal;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.pagination:hover {
    background-color: coral;
    border: 1px solid coral;
    color: #fff;
}

.paginationCurrent {
    color: coral;
    border: 2px solid coral;
}
